rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User Predictions Document Security
    match /predictions/{userId} {
      
      // Allow users to read and write only their own predictions
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Allow mrnoahchen@gmail.com (admin) to read all predictions for analytical aggregation
      allow read: if request.auth != null && request.auth.token.email == "mrnoahchen@gmail.com";
      
    }
  }
}
